
<footer>
<!-- <p>===========================================================================</p> -->
<p>This is the Footer</p>
 <p><small>WEBD-2007 (150965) Full-Stack Web Development Project</small></p>
 <p><small>By: Emmanuel Stuart Moncada</small></p>
 <p><small>Copyright </small></p>
</footer>
