<h1>My cart</h1>

<% if session[:items_on_cart].empty? %>
  <% @products_on_cart.each_with_index do |item, index| %>
  <ul>
    <li><%= index %> <%= item.name %></li>
    <li><%= item.price %></li>
  </ul>
  <% end %>
<% else %>
  <h2> no products in cart </h2>
<% end %>
