// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
  background-color: #88f89f;
}




nav, ul, li {
  display: inline;
  padding: 14px 16px;
  text-decoration: none;
}



footer{
  text-align: center;
  background-color: #88f89f;
  bottom:0;
  width:100%;
}
footer p{
  line-height: 10px;
  padding-left: 0px;
}


.eachProduct{
  border: 2px solid #88f89f;
  border-radius: 25px;
  padding: 10px;
  width: auto;
}


// #titleHolder{
//   height: 10%;
//   overflow:hidden;
// }
//
// #pictureHolder
// {
//   height: 20%;
// }
#pictureHolder img{
    height:20%;
    width: 20%;
}

#login_link{
  padding: 50px;
  float: right;
}

#error_message{
  padding: 5px;
background-color: #ff7f71;
}

#sideCategory{
  display: inline-block;
  text-decoration: none;
  margin: auto;
  line-height: 40px;
}
