// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
  background-color: #88f89f;
}

body {
   height:100%;
}


nav, ul, li {
  display: inline;
  padding: 14px 16px;
  text-decoration: none;
}

#titleHolder{
  height: 129px;
  overflow:hidden;
}

#pictureHolder
{
  padding: 10px;
  height: 150px;
}

footer{
  text-align: center;
  line-height: 2px;
  background-color: #88f89f;

display: block;
  bottom:0;
  width:100%;
}


.eachProduct{
  border: 2px solid green;
  border-radius: 25px;
  padding: 10px;
}
